    
.Wrapper{
    display: flex;
    justify-content: space-around;
    width: 100vw;
    margin: 0 auto;
    padding-top: 1rem;
    font-weight: 700;

}
.option{
    cursor: pointer;
    display: none;
    text-decoration: none;
}
.option:hover{
    color:rgb(5, 3, 3);
    transform: scale(1.3);
}
.ProfileImg{
    height: 3vw;
    width: 4vw;
}
.Dropdown{
   
    display: none;
}
@media screen and (max-width : 360px) {

    .Dropdown{
        display: unset;
    } 
}
@media screen and (min-width : 361px) {

    .option{
        display: unset;
    }
    
}

